<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
	<title>Burger</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<header class="jumbotron">
    	<h1 id="title">Burger</h1>
	</header>

	<div class="container text-center">
		{{{ body }}}
	</div>

	
	
</body>

</html>
